body {
    background-color: rgb(247, 221, 119);
}
.btn {
    background-color: rgb(244, 154, 45);
    border-color: rgb(254, 128, 82);
}
fieldset {
    margin-bottom: 50px;

}
.container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.card img {
    margin-top: 10px;
}